In [ ]:
# importing pandas library.
import pandas as pd

In [ ]:
# reading a 'csv file'.
df = pd.read_csv('drive/MyDrive/Data mining/Datasets/marvel_characters_info.xls')

# set the 'ID' column as an index of the dataset
df.set_index('ID', inplace=True) # 'inplace=True' that means to modify the original dataset with the changes
# without 'inplace=True' it will return a new dataframe
df

# Commands for viewing data

In [ ]:
df.head() # shows the first 5 rows in the dataset
df.head(3) # we can specify this by setting an argument to the method
# in this case it shows the first 3 rows

In [ ]:
df.tail() # shows the last 5 rows
df.tail(7) # and its similler to the head method, we can specify by setting an argument

In [ ]:
df.shape # return a simple tuple of (rows, columns)

In [ ]:
df.info() # it shows more details about the dataset

In [ ]:
df.iloc[[3,4]] # searching for a rows by his index Whatever index type

In [ ]:
# If we want to rename columns
df.rename(columns = {'Race':'another_name'}, inplace=True)
df.columns

# Dealing with duplicates data

In [ ]:
df.drop_duplicates(inplace=True) # Remove duplicates if exist (found one duplicate)

# Remove all duplicates (keep = false)
df.drop_duplicates(inplace=True, keep=False) # That means if there 2 or more duplicates rows they will be removed

df.shape

# Handling the missing data

In [ ]:
df.isnull() # return a new data frame that shows the null value in the dataset 
df.isnull().sum() # return the count of null value in each column
df.isnull().sum().sum() # return the count od alll null value in the data set

In [ ]:
# Remove row's that have missing data.
df_temp1 = df.dropna() # drop all the rows that missing data
df_temp1.isnull().sum()

In [ ]:
# Fill the missing data with a default value for example...
df_temp2 = df.copy() # make a copy of the df

Publisher = df_temp2['Publisher'] # reference to the column that has missing data
Publisher.fillna('unknown', inplace=True) # fill the null value with 'unknown' word

df_temp2['Weight'].fillna('unknown', inplace=True) # The direct way to fill

df_temp2.isnull().sum()