In [ ]:
# importing pandas library.
import pandas as pd

# Setup Commands

In [ ]:
# reading a 'csv file'.
marvel_df = pd.read_csv('drive/MyDrive/Data mining/Datasets/marvel_characters_info.xls')

# set the 'ID' column as an index of the dataset
marvel_df.set_index('ID', inplace=True) # 'inplace=True' override the original dataset with the changes

# Simple handling 
marvel_df.drop_duplicates(inplace=True) # Remove duplicates if exist (found one duplicate)
# marvel_df.fillna('unknown', inplace=True) # Fill missing value
marvel_df

# Conditional selections

In [ ]:
marvel_df[marvel_df['EyeColor'] == 'blue'] # return all characters wiht blue eye color

In [ ]:
# selection with logical 'or' condition
marvel_df[(marvel_df['EyeColor'] == 'blue') | (marvel_df['EyeColor'] == 'green')]

In [ ]:
# selection with logical 'and' condition
marvel_df[(marvel_df['EyeColor'] == 'blue') & (marvel_df['HairColor'] == 'White')]

In [ ]:
# make a selection from a concise list that contains specific values  
marvel_df[marvel_df['Publisher'].isin(['Dark Horse Comics', 'George Lucas', 'DC Comics'])]

In [ ]:
# select characters with height between 185 and 200
marvel_df[(marvel_df['Height'] >= 185.0) & (marvel_df['Height'] <= 200.0)]

# Groupby - Astype

In [ ]:
marvel_df.groupby('Gender').Height.max() # return the tallest character followed by gender

In [ ]:
marvel_df['Weight'].astype('str') # convert the data type from float64 to string

# Lambda

In [ ]:
# trying the lambda with aplly
marvel_df["Height_category"] = marvel_df["Height"].apply(lambda H: 'tall' if H >= 170 else 'short')
marvel_df

# Plotting

In [ ]:
marvel_df.plot(kind='scatter', x='Height', y='Weight', title='Height & Weight'); # maybe we wanna see the relationship between 2 columns

In [ ]:
marvel_df['Weight'].plot(kind='hist', title='Weight'); # 'hist': Histogram

In [ ]:
marvel_df['Height'].plot(kind="box");

---
# Another Dataset 
---

# Setup Commands

In [ ]:
# reading a 'csv file'.
student_df = pd.read_csv('drive/MyDrive/Data mining/Datasets/student_marks.csv')

student_df.rename(columns = {'Unnamed: 0':'first_name'}, inplace=True) # Rename the first column
# set the 'first_name' column as an index of the dataset
student_df.set_index('first_name', inplace=True) # 'inplace=True' means modify the original dataset with the changes
student_df.fillna(0, inplace=True) # fill the missing
student_df

# Apply Functions - Combine datasets
محاولة مرهقة لحساب المعدل وارفاق التقدير لكل طالب

**1- calc average**

In [ ]:
def is_num(val):
    try:
        float(val)
        return True
    except ValueError:
        return False
  

def average_calculation():
    dic = {'first_name': [], 'Average': []}
    for r in student_df.index:
        sum = 0
        count = 0
        for c in range(9):
            if is_num(student_df.loc[r][c]):
              sum += student_df.loc[r][c]
              count += 1
        dic['first_name'].append(r)
        dic['Average'].append(sum/count)
    return dic


average = pd.DataFrame(average_calculation()) # convert form dictionary to dataframe
average.set_index('first_name', inplace=True)
student_df = pd.merge(student_df, average, how='left', on='first_name') # Combine two Datasets

**2- add Grade**

In [ ]:
def grade(x):
    if x >= 90:
        return "A"
    elif x >= 80:
        return "B"
    elif x >= 70:
        return "C"
    elif x >= 60:
        return "D"
    else:
        return "F"

# apply the function
student_df['Grade'] = student_df['Average'].apply(grade) # send the entire column with apply() function
student_df

           Gender         DOB  Maths  Physics  ...  History  Civics    Average  Grade
first_name                                     ...
John            M  05/04/1988     55       45  ...       89      65  57.857143      F
Suresh          M    4/5/1987     75       55  ...       58       2  57.571429      F
Ramesh          M   25/5/1989     25       54  ...       56      74  68.857143      D
Jessica         F   12/8/1990     78       55  ...       75      45  71.428571      C
Jennifer        F    2/9/1989     58       96  ...       83      53  76.285714      C

[5 rows x 12 columns]